body {
    display: flex;
    justify-content: center;
    align-content: center;
    /*background-image: url("background.png");
    background-position: center; */
}
.pokedex-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 100px 1fr;
    height: 500px;
    width: 300px;  
    background: linear-gradient(60deg, rgb(15, 207, 41), rgb(11, 173, 46));
    border: 4px solid rgb(4, 38, 131);
    border-radius: 30px 10px 10px 10px;
}
.pokedex-screen {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 85%;
    width: 80%;
    background-color: white;
    border: 2px outset black;
    border-radius: 30px 10px 10px 10px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#img{
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.pokemon-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 85%;
    margin: auto;
}
.pokemon-name {
    width: 100%;
    font-weight: bolder;
    font-variant: small-caps;
    text-align: center;
    font-size: auto;
}
.pokemon-search button {
    background-color: rgb(62, 255, 23);
    border: 2px outset black;
    border-radius: 10px;
    font-family: monospace;
    font-size: larger;
    font-weight: bolder;
    font-variant: small-caps;
    margin: 5px;
    color: white;
    line-height: 2em;
}

.pokemon-search-box {
    background-color: white;
    border: 2px inset rgb(107, 143, 23);
    border-radius: 10px;
    font-family: monospace;
    font-size: larger;
    font-weight: bolder;
}
.pokemon-moves{  
    background-color:black;
    border: 2px inset rgb(179, 29, 159);
    border-radius: 10px;
    color:white;
    text-align: center;  
    font-family: Trattatello, fantasy;
    font-size:smaller;
    font-weight:italic; 
}

@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 5px, 0); }
  }