@using ClassChallengeDEC08.Services;
@using ClassChallengeDEC08.Controllers; 
@model List<Friend>
@{
    ViewData["Title"] = "Database Page";
}

<h1>Database Page</h1>

<a asp-action="InsertNewFriend">Add a new friend</a>

<ul class="friendslist">
    @foreach (var item in Model)
    {
        <li class="friend">
            <div class="friend-info">
                <p class="friends-name">@item._friendName</p>
            </div>
            <div class="friend-actions">
                <a asp-action="FriendsDetail" asp-route-id="@item._friendName">View Friend's details</a>
                <a asp-action="EditFriend" asp-route-id="@item._friendID">Edit Friend's details</a>
                <a asp-action="DeleteFriend" asp-route-id="@item._friendID">Delete Friend</a>
            </div>
        </li>
    }
</ul>

